html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#iceCold {
  background: #a0d2eb;
}

#grandpaOrange {
  background: #ffb766;
}
#nightBlue {
  background: #2d545e;
}
#grassyGreen {
  background: #9bc400;
}
